body {
    margin: 0;
}
  
  body,
  input,
  textarea {
    font-family: monospace;
  }
  
  .editor {
    display: flex;
  }
  
  form,
  .preview {
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    
  }
  
  input,
  textarea {
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    padding: 8px;
    margin: 0 auto 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  .preview {
    border-left: 2px solid black;
  }
  